#content {display: none;}

h2,h3,h4,h5,h6 {
	text-align: center;
	font-weight: bold;
}

/* Get rid of some of the superfluous banner */
header.page-header {padding: 0;}
header.page-header h1, header.page-header h2 {transform: scale(0.75); margin: 0;}
header .btn {display: none;}

.travelbuttons {
	border: 2px inset silver;
	padding: 10px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.travelbuttons button {
	border-color: rebeccapurple;
	white-space: nowrap;
}
.travelbuttons button[disabled] {
	border-color: silver;
	border-width: 1px;
}
/* Investigation buttons should feel like inline actions. */
[data-investigate] {
	border: 1px solid grey;
	padding: 0 5px;
	background: #ffe;
}
[data-investigate].seen {
	background: #eff;
}
.outtatime [data-investigate]:not(.seen) {
	border: 1px solid transparent; /* Flatten the buttons when you're out of time */
}

dialog {
	max-width: 48rem; /* Ideally, keep this a bit smaller than the max-width of the main-content in the theme */
}
/* Create a scroll context inside dialogs */
dialog > section {
	display: flex;
	flex-direction: column;
}
dialog > section > header {
	display: flex;
	justify-content: space-between;
}
dialog > section > header > h3 {
	margin: 0.5em 0;
}
dialog > section > div {
	overflow-y: auto;
	max-height: 70vh;
}
.dialog_cancel {
	position: relative;
	right: -8px; top: -8px;
	line-height: 1.3;
}
.dlgbuttonbox {
	margin: 0;
}
.dlgbuttonbox button {
	margin-right: 8px;
}

#status-holder {
	position: sticky;
	top: 2rem; right: 6rem;
	height: 0;
}
#status {
	border: 1px solid rebeccapurple;
	background: aliceblue;
	padding: 0.5em;
	width: max-content;
	margin-left: auto;
}

#time_spent {
	filter: saturate(0);
	opacity: 25%;
}

.catquote {
	font-style: italic;
	background: aliceblue;
	border: 1px dashed blue;
}
.catquote img {
	height: 1.25em;
	vertical-align: text-top;
	margin-left: 0.5em;
}

#inspect-full[disabled] {
	color: silver;
}

.gameover {
	border: 1px solid;
	padding: 4px 10px;
}
.gameover.win {
	background: #f8fff8;
	border-color: #080;
}
.gameover.loss {
	background: #fff8f0;
	border-color: #800;
}
